
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap');
footer>div:nth-child(1) {
    margin-bottom: 1rem;
    text-align: center;
    font-family: 'Shrikhand', cursive;
    font-size: 100%;
}
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body, html { margin: 0px;
    font-family: Roboto, sans-serif; 
    font-size: 100%; 
    overflow-x: hidden; }
.logo { 
    display: flex; 
    padding-bottom: 1rem; 
    margin-top: 1rem; }
.logo img { 
    font-size: 5rem; 
    width: 11rem; 
}
.logo > a:nth-child(2) { 
    margin-left: auto; 
    justify-content: center; 
    margin-right: auto; 
}
.logo i { 
    color: black; 
    text-decoration: none; 
    padding-left: 1.6rem; 
    padding-top: 0.6rem; 
}
img.lpdg { 
    max-height: 37rem; 
    width: 100%; 
    object-fit: cover; 
    box-shadow: red 0px 4px 8px inset; 
}
.conteneur {
    background: rgb(246, 246, 246);
    max-width: 80rem;
    margin: -5rem auto auto;
    z-index: 2;
    position: relative;
    border-radius: 1rem;
    padding-bottom: 6rem;
}
.menuconteneur {
    /* max-width: 33.33%; */
    justify-content: space-between;
    padding: 0 2rem;
    /* column-gap: 2rem; */
    display: flex;
    /* grid-template-columns: repeat(3, 1fr); */
    margin-top: 2rem;
    /* max-width: 33.33%; */
}
.conteneur h1 { 
    margin-left: 2rem;
    font-family: 'Shrikhand', cursive;
}
.description {
    overflow-x: hidden;
    margin-top: 1rem;
    background: white;
    border-radius: 0.6rem;
    display: flex;
    margin-bottom: 1rem;
    }
.description:hover .icone {
    margin: 0;
    transition: 0.4s ease;
}
.description h2 { 
    font-size: 1rem; 
    margin-bottom: 0rem; 
}
.price {
    margin: 0 1rem 1rem 0.5rem;
    display: flex;
    font-weight: bold;
    align-items: flex-end;
}
.text {
    padding-left: 1rem;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
}
.starter{
    border-bottom: 3px solid #99e2d0;
    width: 3rem;
}
.plat{
    border-bottom: 3px solid #99e2d0;
    width: 3rem;
}
.desserts{
    border-bottom: 3px solid #99e2d0;
    width: 3rem;
}
.conteneur>div:nth-child(1){
    display: flex;
    justify-content: space-between;
}
.heart {font-size: 2rem;padding-left: 58rem; 
    padding-top: 1.2rem;
}
.order{
    text-align: center;
    margin-top: 4rem;
}
.order>a{
    text-decoration: none;
    background: linear-gradient(#e772db, #9f5adc);
    padding: 1rem;
    border-radius: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    color: white;
    box-shadow: #cacaca 0px 6px 14px;
}
footer{
    margin-top: 3rem;
    padding-bottom: 3rem;
    background: #353535;
    color: white;
}
.footer_grille{
    display: flex;
    justify-content: center;
    gap: 2rem;
    
}
footer img {
    font-size: 1rem;
}
.footer_grille a{
    text-decoration: none;
    color: white;
}

.footer_grille span {
    margin-left: 1rem;
}
footer>div:nth-child(1){
    margin-bottom: 1rem;
    text-align: center;
    font-family: 'Shrikhand', cursive;
    font-size: 2rem;
}
.icone{
    transition: 0.4s ease;
    color: white;
    background: #99e2d0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7rem;
    margin-right: -6rem;
    }
.description:hover i{
    margin-right: 0;
}
i.fas.fa-check {
    transform: rotate(-580deg);
    transition: 0.4s ease;
    border-radius: 50%;
    background: white;
    padding: 0.5rem;
    color: #99e2d0;
}

.description:hover i.fas.fa-check {
    transform: rotate(0deg);
    transition: 0.4s ease;
}

h3 {
    margin: 0.75rem 0;
}

p {
    margin: 0.75rem 0;
}
.text > * {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;
}
.category {
    max-width: 32.33%;
    width: 100%;
}

.menuconteneur>.category:nth-child(1) {
    animation: apparition 0.7s 1 cubic-bezier(0.5, 0.5, 0.4, 1.2) forwards;
    animation-delay: 0.3s;
    transform: scale(0);
}

.menuconteneur>.category:nth-child(2) {
    animation: apparition 0.7s 1 cubic-bezier(0.5, 0.5, 0.4, 1.2) forwards;
    animation-delay: 0.5s;
    transform: scale(0);
}

.menuconteneur>.category:nth-child(3) {
    animation: apparition 0.7s 1 cubic-bezier(0.5, 0.5, 0.4, 1.2) forwards;
    animation-delay: 1s;
    transform: scale(0);
    
}

.containerh{
    position: relative;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    grid-area: 1/2/4/3;
  }
  .containerh > * {
    position: absolute;
    font-size: 2rem;
  }
  input {
    z-index: 1;
    appearance: none;
    height: 2rem;
    width: 2rem;
    cursor: pointer;
  }
  .containerh .fas {
    opacity: 0;
    background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#ff79DA));
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
    transition: 0.5s;
  }
  input:checked ~ .fas{
    opacity: 1;
    transition: 0.5s;
  }
  input:checked ~ .far{
    opacity: 0;
    transition: 0.5s;
  }
  .far {
    transition: 0.5s;
  }
@media screen and (max-width: 1000px) {
    .conteneur{
        border-radius: 0%;
    }
    .menuconteneur{
        flex-direction: column;
        max-width: 100%;
    }
    .category {
        max-width: 100%;
    }
    .icone {
        margin-right: -7rem;
    }
}
@media screen and (max-width: 670px) {
    .footer_grille{
        flex-direction: column;
        padding-left: 2rem;
    }
    footer>div:nth-child(1){
        display: flex;
        padding-left: 2rem;
        font-size: 1.5rem;
    }
    
}
@keyframes apparition {
    100%{
        transform: scale(1);
    }
}